# Q1)

In [1]:
x=[]
count=0
for i in range(2000,3201):
    if((i%7==0)&(i%5!=0)):
        x.append(i)
        count=count+1
print("Total Numbers : ",count)
print(x)

Total Numbers :  138
[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

# Q2)

In [3]:
#First Way
y=input("Enter number which factorial you want : ")
z=int(y)
factorial=1
for i in range(z,1,-1):
    factorial=factorial*i
print("Factorial of the given numbers is = ",factorial)

Enter number which factorial you want : 8
Factorial of the given numbers is =  40320

In [4]:
#Second Way
def fact(x):
    if x==0:
        return 1
    return x*fact(x-1)

In [5]:
print(fact(8))

40320

# Q3)

In [6]:
number=input("Enter number to generate his dictionary : ")
number=int(number)+1
dictionary={i:i**2 for i in range(int(number))}
print(dictionary)

Enter number to generate his dictionary : 8
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

# Q4)

In [11]:
a=[]
for i in range(5):
    c=input("Enter number : ")
    a.append(c)   
b=tuple(a)   
print("\n",a,"\n",b)

Enter number : 8
Enter number : 7
Enter number : 6
Enter number : 5
Enter number : 4

 ['8', '7', '6', '5', '4']
 ('8', '7', '6', '5', '4')

# Q5)

In [29]:
class Sohaib:
    def __init__(self):
        self.s=""
    def details(self,fname,lname,salary):
        self.fname=fname
        self.lname=lname
        self.salary=salary
        full_name=fname+" "+lname
        return full_name,salary

S1=Sohaib()
S2=S1.details("Sohaib","Akram",100000)
print(S2)

('Sohaib Akram', 100000)

# Q6)

In [30]:
import math
C=50
H=30
i=input("Enter value od D : ")
D=int(i)
m=2*C*D
d=m/2
Q=math.sqrt(d)
print("Answer : ",Q)

Enter value od D : 9
Answer :  21.213203435596427

# Q7)

In [23]:
rows=input("Enter Number Of Raws : ")
columns=input("Enter Number Of Columns : ")
y=int(rows)
x=int(columns)
i,j=0,0
k=[]
List=[[j for j in range(10)] for i in range(10)]
print(List)

Enter Number Of Raws : 10
Enter Number Of Columns : 5
[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [29]:
String=['without','hello','bag','world','alpha','beta','gamma']
String.sort();
print(String)

['alpha', 'bag', 'beta', 'gamma', 'hello', 'without', 'world']

In [ ]:
c=[]
for i in range(5):
    a=input("Enter the string : ")
    b=a.upper();
    c.append(b)
for j in range(5):
    print(c[j])